nav {
    color: #fff;
    padding: 10px;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav_menu li {
    margin-right: 40px;
}